.Hangman {
  width: 400px;
  color: black;
  text-align: center;
  zoom: 1.3;
}

.Hangman img {
  height:200px;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  text-align: center;
  display: inline-block;
  /* width: 250px; */
  /* /* margin-top: 0;  */
}

.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 5px;
  padding: 7px;
  letter-spacing: 1px;
  outline: none;
  background: transparent;
  color: #fff;
  /* -webkit-box-shadow: 0 6px #7b08b2fc; */
  -webkit-box-shadow: 3px 3px #393939;
  box-shadow: 3px 3px #d0eaeb;
  color: #407c7f;
  border-radius: 5px;
  
}

.Hangman button:hover {
  filter: invert(08);
}

.Hangman button:disabled {
  background: #bdbdbd47;
  color: #9e9e9e;
  /* -webkit-box-shadow: 0 6px #9e9e9e; */
  -webkit-box-shadow: 2px 2px #9e9e9e;
  box-shadow: 2px 2px #9e9e9e;
}
